# 基于 Google C++ 代码风格指南
BasedOnStyle: Google

# 缩进宽度
IndentWidth: 4

# 属性访问修饰符缩进
AccessModifierOffset: -4

# 最大行长度
ColumnLimit: 100

# 超长函数形参每行一个
BinPackParameters: false

# 超长函数调用参数每行一个
BinPackArguments: false

# 对齐连续的声明
AlignConsecutiveDeclarations: true

# 对齐连续赋值
AlignConsecutiveAssignments: true

# 不允许单行 if 语句
AllowShortIfStatementsOnASingleLine: true

# 函数花括号换行
BreakBeforeBraces: Custom

# 函数花括号换行规则
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterNamespace: false